@charset 'utf-8';

@import './_variables.scss';
@import 'bulma';

html {
    min-height: 100%;
    overflow: auto;
    position: relative;
    width: 100%;
    body {
        height: calc(100% - 3.25rem);
        position: absolute;
        width: 100%;
    }
}
